<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="market-logger-privider"/> 
	<dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}"/>
	<dubbo:monitor protocol="registry"/>
	<dubbo:protocol name="dubbo" port="${schedule.privider.port}"  threadpool="cached"/>
    
    <bean id="quartzServerImpl" class="com.qinyadan.brick.quartz.service.boot.QuartzServerImpl"/>
	<dubbo:service timeout="10000"  interface="com.qinyadan.brick.schedule.api.v1.ScheduleService" 
		ref="quartzServerImpl" group="schedule"  version="0.0.1" owner="liuzhimin">
	</dubbo:service>
</beans>