<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	">
	<bean class="com.qinyadan.brick.market.common.httpshell.RestletServer"
		init-method="init">
		<property name="sign" value="false" />
		<property name="port" value="8086" />
		<property name="maxThreads" value="25" />
		<property name="servName" value="logger" />
		<property name="serverList" value="127.0.0.1:2181" />
		<property name="basePackage" value="com.qinyadan.brick" />
	</bean>
</beans>