<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	">

	<bean id="brave" class="com.qinyadan.brick.zipkin.ZipkinBraveFactoryBean"
		p:serviceName="market-account-service" p:bootstrapServers="10.167.201.167:9092" />

	<bean class="com.github.kristofa.brave.dubbo.BraveDubboManagementBean">
		<constructor-arg ref="brave"></constructor-arg>
	</bean>

	<bean class="com.github.kristofa.brave.mysql.MySQLStatementInterceptorManagementBean"
		destroy-method="close">
		<constructor-arg value="#{brave.clientTracer()}" />
	</bean>

</beans>