<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	">

	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxIdle" value="1000" />
		<property name="maxWaitMillis" value="200" />
		<property name="testOnBorrow" value="true" />
    </bean>
    
    <!-- jedis pool配置 -->
    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <constructor-arg index="1" value="127.0.0.1" />
		<constructor-arg index="2" value="6379" />
		<constructor-arg index="3" value="2000" />
    </bean>
    <bean id="redisLock" class="com.qinyadan.brick.quartz.service.lock.RedisLock"></bean>
	<!-- quartz -->
	<bean id="schedulerFactory" class="com.qinyadan.brick.quartz.service.utils.MyStdSchedulerFactory"/>
	<bean id="scheduler" factory-bean="schedulerFactory" factory-method="getScheduler" />
	<bean id="cronDubboJobListener" class="com.qinyadan.brick.quartz.service.listener.CronDubboJobListener"/>
	<bean id="delayDubboJobListener" class="com.qinyadan.brick.quartz.service.listener.DelayDubboJobListener"/>
	<bean id="SpringContextUtil" class="com.qinyadan.brick.quartz.service.utils.SpringContextUtil"/>
	
	<bean class="com.qinyadan.brick.quartz.service.boot.QuartzInit" init-method="start"/>

</beans>